<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let photo of postObj">
      <mat-card class="mb-3 h-100 d-flex flex-column">
        <mat-card-header>
            <h1>{{photo.title}}</h1>
        </mat-card-header>
        <mat-card-content class="flex-grow-1">
          <p>{{photo.body}}</p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
            <button mat-raised-button color="primary" (click)="onEdit(photo)">Edit</button>
            <button mat-raised-button color="warn" (click)="onRemove(photo)">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
